body{
    background: rgba(4, 113, 2, 0.6);
}

article{
    margin:auto;
    align-items: center;
    width: 60vw;
    background: rgba(4, 113, 2, 0.6);
    margin: auto;
}

.kurt{
    display:block;
    margin: auto;
    width: 50%;
    height: 50%;
}

article ol{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    text-decoration: none;
}

#top{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    text-decoration: none; 
}