body{
    background: rgba(4, 113, 2, 0.6);
}

article{
    margin:auto;
    align-items: center;
    width: 60vw;
    background: rgba(4, 113, 2, 0.6);
    margin: auto;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
}

.kurt{
    display:block;
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 200px;
}

article ol{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    text-decoration: none;
}

#top{
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    text-decoration: none; 
}

.FlexBox {
    display: flex;
}